<div class="row">
    <div class="col-12 text-end">
        <button class="btn btn-primary" (click)="addNew()">Add New</button>
        <button class="btn btn-primary" (click)="saveAll()">Bulk Update</button>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Sr No</th>
                    <th>Airport Code</th>
                    <th>Airport  Name</th>
                    <th>City</th> 
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let airport of airportList;let sr = index">
                    <td> {{sr+1}} </td>
                    <td>
                        <input type="text" [(ngModel)]="airport.airportCode"  class="form-control" placeholder="Airport Code"/> 
                    </td>
                    <td>
                        <input type="text" [(ngModel)]="airport.airportName"  class="form-control" placeholder="Airport Name"/> 
                    </td>
                    <td>
                        <select [(ngModel)]="airport.cityId" class="form-select">
                            <option *ngFor="let city of cityList" [value]="city.cityId">{{city.cityName}}</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
